/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero img {
  position: relative;
  z-index: 1;
}

.blob {
  position: absolute;
  width: 140%;
  top: -25%;
  left: -22%;
  z-index: 0;
}

.hero-presentation {
  margin-top: 10vh;
}

/* ! Cover */
.cover {
  text-align: center;
  padding: 10px;
  margin: 0px;
  min-height: 600px;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
  background-size: cover;
}

.cover * {
  color: #fff;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-big {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.2) 15%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.7) 95%),
    url(../img/cover.jpg);
}

.cover__content__top {
  text-align: left;
  padding-left: 5%;
}

.technologies-section-1 {
  display: flex;
}

.technologies-section-2 {
  align-self: center;
}

.technologies-section-2 h2 {
  text-align: center;
}

/* Footer Navbar */

.nav-container {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #b6c199;
  height: 57px;
  display: inline-block;
  border-radius: 35px;
  padding: 0 10px;
  margin: 30px;
  position: relative;
}

.nav ul {
  display: flex;
  list-style-type: none;
}

.nav ul li a {
  display: inline-block;
  padding: 15px;
  color: #fbfff2;
  transition: transform 0.3s cubic-bezier(0.925, 0.15, 0.505, 1.03);
}

.nav ul li a:hover {
  transform: scale(1.3);
}

nav::after {
  content: "";
  background: #777e64;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 35px;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(1);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.925, 0.15, 0.505, 1.03);
}

nav.horizontal:hover::after {
  transform: scaleX(1.1);
}

.uil {
  font-size: 140%;
  position: relative;
  bottom: 5px;
}

/* Classi immagini */
.image-technologies {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("/assets/img/technologies-picture.png");
}

.image-about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url("/assets/img/man-laptop-digital-2.png");
}

.image-work-temp {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/random");
}

/* Interazioni con le cards dei lavori precedenti */
.image-first-work {
  position: relative;
}

.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
}

.image-first-work::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/assets/img/work-portfolio.png");
  filter: blur(0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 40px;

  text-align: center;
  padding: 10px;
  margin: 0px;
  min-height: 600px;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
  background-size: cover;

}

.image-first-work:hover::before {
  filter: blur(2px) brightness(70%);
}

/*Rimpicciolisce leggermente il blob per mobile, altrimenti usciva dallo schermo di poco*/
@media (max-width: 768px) {
  .blob {
    position: absolute;
    width: 130%;
    top: -20%;
    left: -15%;
    z-index: 0;
  }
}

/*Media query per far sì che la foto non finisca sotto la navbar */
@media (min-width: 768px) {
  .photo-blob {
    margin-top: 7%;
  }
}

/*Cambio l'interlinea del titolo, su mobile era troppo largo */
.name-title {
  line-height: 1;
}

/*Cambio lo z-index del bottone che su mobile finiva sotto il blob e non era cliccabile*/
.button-hero {
  position: relative;
  z-index: 1;
}